@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h4>Add a new Tag</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Categories)
  @Html.TextBoxFor(model => model.Categories)

  <input type="submit" value="Add new Tag" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all Tags", "Index")</p>